* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #ffa500;
  min-height: 100vh;
  border: 10px solid rgb(4, 18, 36);
}

.content {
  max-width: 900px;
  margin: 0 auto;
}

.top-section {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.top-section h1 {
  font-size: 40px;
}

.top-section h4 {
  font-size: 16px;
  margin-top: 10px;
}

.image-container {
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
}

.image-container img {
  width: 100%;
  height: auto;
  transition: width 0.5s ease; /* Added transition for smooth resizing */
}

.about-section {
  margin-top: 30px;
}

.about-section h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.about-section p {
  font-size: 16px;
  line-height: 24px;
}

.biography-section {
  margin: 30px 0;
}

.biography-section h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.biography-section ul {
  margin-left: 30px;
}

.biography-section li {
  margin-bottom: 10px;
}

footer {
  margin: 30px 0;
  text-align: end;
}

@media screen and (min-width: 600px) {
  .top-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    text-align: left;
  }

  .top-section h1 {
    font-size: 50px;
  }

  .top-section h4 {
    font-size: 20px;
    margin-top: 0;
  }

  .image-container img {
    width: 300px; /* Adjusted width for larger screens */
  }
}
